<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info btn-icon btn-icon-right" data-toggle="modal"
                            data-target="#addMarchModal">
                        <i class="material-icons">create</i>
                        Ajouter Marchandise
                    </button>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="orange">
                        <h3 class="title">Marchandises</h3>
                        <p class="category">La liste de marchandises</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-stripped table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>Type Marchandise</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let march of marchandises">
                                <td>{{march.libelle}}</td>
                                <td>
                                    <button class="btn btn-danger btn-icon btn-icon-right" type="submit">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div> <!-- fin row -->
    </div> <!-- fin container fluid -->
</div> <!-- fin main-content -->


<div id="addMarchModal" class="modal fade" role="dialog" aria-labelledby="addMarchModalLabel" aria-hidden="false">
    <div class="modal-notice modal-md" style="top:-5%;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="title text-center">Ajouter Marchandise</h1>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Libelle marchandise: {{libelle}}</label>
                        <input type="text" class="form-control" name="libelle" [(ngModel)]="libelle"
                               required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    Annuler
                </button>
                <button (click)="ajouterMarchandise();" class="btn btn-info">
                    Ajouter
                </button>
            </div>
        </div>
    </div>
</div>