<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info btn-icon btn-icon-right" (click)="addReprModal.open()">
                        <i class="material-icons">create</i>
                        Ajouter Representant
                    </button>
                </div>
            </div>
            <form>
                <modal #addReprModal

                       modalClass="modal-lg"
                       [hideCloseButton]="false"
                       [closeOnEscape]="true"
                       [closeOnOutsideClick]="true"
                       (onOpen)="actionOnOpen()"
                       (onClose)="actionOnClose()"
                       (onSubmit)="ajouterRepresentant()">
                    <modal-header>
                        <h3>Ajouter un Representant</h3>
                    </modal-header>
                    <modal-content style="background-color: black">
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Saisir ses informations</h4>
                            </div>
                            <div class="card-content">

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Adresse Email: {{email}}</label>
                                            <input type="email" class="form-control" name="email" [(ngModel)]="email">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-md-offset-1">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Prénom: {{prenom}}</label>
                                            <input type="text" class="form-control" name="nom"
                                                   [(ngModel)]="prenom">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Nom: {{nom}}</label>
                                            <input type="text" class="form-control" name="nom"
                                                   [(ngModel)]="nom">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-md-offset-1">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Numéro de Téléphone:
                                                {{telephone}}</label>
                                            <input type="text" class="form-control" name="telephone"
                                                   [(ngModel)]="telephone">
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </modal-content>
                    <modal-footer>
                        <button (click)="ajouterRepresentant() && addReprModal.close()" class="btn btn-info">
                            Ajouter
                        </button>
                        <button class="btn btn-danger" (click)="addReprModal.close()">Annuler</button>

                    </modal-footer>
                </modal>
            </form>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h3 class="title">Representants</h3>
                        <p class="category">la liste de mes representants</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Telephone</th>
                                <th>Plus</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let rep of representants">
                                <td>{{rep.nom}}</td>
                                <td>{{rep.prenom}}</td>
                                <td>{{rep.email}}</td>
                                <td>{{rep.telephone}}</td>
                                <td>
                                    <button class="btn btn-info btn-icon btn-icon-right" type="submit">
                                        Details
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-icon btn-icon-right" type="submit">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div> <!-- fin row -->
    </div> <!-- fin container fluid -->
</div> <!-- fin main-content -->
