<div *ngIf="location.path() != '/login'">
    <div class="logo">
        <a href="#" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/joker-logo.jpg"/>
            </div>
            Joker Trading
        </a>
    </div>
    <div *ngIf="location.path() != '/dashboardrepresentant'" class="sidebar-wrapper">
        <div class="nav-container">
            <ul class="nav">
                <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                    <a [routerLink]="[menuItem.path]">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        <p>{{menuItem.title}}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
