<script type="text/javascript">
    function showModal() {
        $("#info").modal('hide');
        $("#addmarch").modal('show');
    }
</script>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success btn-icon btn-icon-right" data-toggle="modal"
                            data-target="#info">
                        <i class="material-icons">create</i>
                        Nouveau Trading
                    </button>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="orange">
                        <h3 class="title">Trading</h3>
                        <p class="category">la liste de trading</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>libellé</th>
                                <th>Transporteur</th>
                                <th>Destination</th>
                                <th>Date de debut</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let trading of tradings">
                                <td>{{trading.libelle}}</td>
                                <td>{{trading.transporteur.prenomTransporteur}}
                                    {{trading.transporteur.nomTransporteur}}
                                </td>
                                <td>{{trading.destination}}</td>
                                <td>{{trading.dateDebut}}</td>
                                <td>
                                    <button class="btn btn-success btn-icon btn-icon-right"
                                            (click)="getTrading(trading.id)">
                                        Details
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-icon btn-icon-right" type="submit">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div> <!-- fin row -->
    </div> <!-- fin container fluid -->
</div> <!-- fin main-content -->

<div id="info" class="modal fade" role="dialog" aria-labelledby="infoLabel" aria-hidden="false">
    <div class="modal-notice modal-md" style="top:-5%;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="title text-center">Informations</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Libellé</label>
                        <input type="text" name="libelleTrading"
                               [(ngModel)]="libelleTrading" class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 ">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Destination</label>
                        <input type="text" name="destination" [(ngModel)]="destination"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Transporteur</label>
                        <select class="form-control" id="trsp" name="idTransporteur"
                                [(ngModel)]="idTransporteur">
                            <option *ngFor="let transporteur of transporteurs"
                                    value="{{transporteur.id}}">
                                {{transporteur.id}} -
                                {{transporteur.prenomTransporteur}}
                                {{transporteur.nomTransporteur}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group form-black label-floating is-empty">
                        <input type="date" name="dateDebut" [(ngModel)]="dateDebut"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    Annuler
                </button>

                <button onclick="$(&quot;#info&quot;).modal('hide');$(&quot;#addmarch&quot;).modal('show')"
                        class="btn btn-info">
                    Suivant
                </button>
            </div>
        </div>
    </div>
</div>

<div id="addmarch" class="modal fade" role="dialog" aria-labelledby="addmarchLabel" aria-hidden="false">
    <div class="modal-notice modal-md" style="top:-5%;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="title text-center">Marchandises</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-5">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Libellé {{idTypeMarchandise}}</label>
                        <select name="idTypeMarchandise"
                                [(ngModel)]="idTypeMarchandise"
                                class="form-control">
                            <option *ngFor="let typeMarch of typeMarchandises"
                                    value="{{typeMarch.id}}">
                                {{typeMarch.libelle}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1">
                    <div class="form-group form-black label-floating is-empty">
                        <label class="control-label">Quantité</label>
                        <input type="text" name="quantite" [(ngModel)]="quantite"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-9">
                    <button (click)="addMarchandise()"
                            class="btn btn-success btn-icon btn-icon-left">
                        <i class="material-icons">exposure_plus_1</i> Ajouter
                    </button>
                </div>
                <div class="col-md-3">

                </div>
                <table class="table">
                    <thead class="text-danger">
                    <tr>
                        <th>libelle</th>
                        <th>Quantite</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let march of marchandises">
                        <td>{{march.typeMarchandiseId}}</td>
                        <td>{{march.stock}}</td>
                        <td>
                            <button class="btn btn-danger btn-icon btn-icon-right"
                                    type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        onclick="$(&quot;#addmarch&quot;).modal('hide');$(&quot;#info&quot;).modal('show')">
                    Precedent
                </button>
                <button onclick="$(&quot;#addmarch&quot;).modal('hide');$(&quot;#resume&quot;).modal('show')"
                        class="btn btn-info">
                    Suivant
                </button>
            </div>
        </div>
    </div>
</div>
<div id="resume" class="modal fade" role="dialog" aria-labelledby="resumeLabel" aria-hidden="false">
    <div class="modal-notice modal-md" style="top:-5%;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="title text-center">Resume</h1>
            </div>
            <div class="modal-body">
                <h6 class="title">Informations Trading</h6>
                <table class="table">
                    <thead class="text-danger">
                    <tr>
                        <th>libelle</th>
                        <th>id Transporteur</th>
                        <th>Destination</th>
                        <th>Date de debut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{libelleTrading}}</td>
                        <td>{{idTransporteur}}</td>
                        <td>{{destination}}</td>
                        <td>{{dateDebut}}</td>
                    </tr>
                    </tbody>
                </table>
                <h6 class="title">Informations marchandises</h6>
                <table class="table">
                    <thead class="text-danger">
                    <tr>
                        <th>id Marchandise</th>
                        <th>Quantite</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let march of marchandises">
                        <th>{{idTypeMarchandise}}</th>
                        <th>{{march.stock}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button onclick="$(&quot;#resume&quot;).modal('hide');$(&quot;#addmarch&quot;).modal('show')"
                        class="btn btn-default">
                    Precedent
                </button>
                <button (click)="ajouterTrading();" class="btn btn-info">
                    Ajouter
                </button>
            </div>
        </div>
    </div>
</div>
