<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-icon btn-icon-right" (click)="addcommande.open()">
                    <i class="material-icons">create</i>
                    Creer Commande
                </button>
                <form>
                    <modal #addcommande
                           modalClass="modal-lg"
                           [hideCloseButton]="false"
                           [closeOnEscape]="true"
                           [closeOnOutsideClick]="true"
                           (onOpen)="actionOnOpen()"
                           (onClose)="addcommande.close()"
                           (onSubmit)="actionOnSubmit()">
                        <modal-header>
                            <h2>Creation d'une commande</h2>
                        </modal-header>
                        <modal-content>
                            <div class="nav">
                                <ul class="nav nav-tabs navbar-btn col-lg-12">
                                    <li class="active"><a href="#one" data-toggle="tab">Representant</a></li>
                                    <li><a href="#two" data-toggle="tab">Marchandises</a></li>
                                    <li><a href="#three" data-toggle="tab">Terminer</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="one" class="tab-pane active">
                                    <div class="card">
                                        <div class="card-header" data-background-color="green">
                                            <h4 class="title">Nom du representant</h4>
                                        </div>
                                        <div class="card-content">
                                            <div class="col-md-5 col-md-offset-1 ">
                                                <label class="control-label">Representant</label>
                                                <div class="form-group form-black label-floating is-empty">
                                                    <select class="form-control" id="sel2" name="libelle"
                                                            [(ngModel)]="nomRepresentant">
                                                        <option>test</option>
                                                        <option>test1</option>
                                                        <option *ngFor="let rep of representants">
                                                            {{rep.nomRepresentant}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </div>
                                <div id="two" class="tab-pane">
                                    <div class="card">
                                        <div class="card-header" data-background-color="green">
                                            <h6 class="title">Saisir les marchandises</h6>
                                        </div>
                                        <div class="card-content">

                                            <div class="col-md-5">
                                                <label class="control-label">Disponible</label>
                                                <div class="form-group form-black label-floating is-empty">
                                                    <select class="form-control" id="sel1" name="libelle"
                                                            [(ngModel)]="libelle">
                                                        <option>test</option>
                                                        <option>test1</option>
                                                        <option *ngFor="let marchandise of marchandises">
                                                            {{marchandise.libelle}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-md-offset-1">
                                                <label class="control-label">Quantité</label>
                                                <div class="form-group form-black label-floating is-empty">
                                                    <input type="text" class="form-control" name="quantite"
                                                           [(ngModel)]="quantite">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <button (click)="ajouterMarchandise()"
                                                        class="btn btn-success btn-icon btn-icon-left">
                                                    Ajouter
                                                </button>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                            <table class="table">
                                                <thead class="text-danger">
                                                <tr>
                                                    <th>libelle</th>
                                                    <th>Quantite</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let marchClient of marchandisesClient">
                                                    <td>{{marchClient.libelle}}</td>
                                                    <td>{{marchClient.quantite}}</td>
                                                    <td>
                                                        <button class="btn btn-danger btn-icon btn-icon-right"
                                                                type="submit">
                                                            <i class="material-icons">delete</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </div>
                                <div id="three" class="tab-pane">
                                    <div class="card">
                                        <div class="card-header" data-background-color="green">
                                            <h6 class="title">Resume</h6>
                                        </div>
                                        <div class="card-content">

                                            <h6 class="title">Informations</h6>
                                            <table class="table">
                                                <thead class="text-danger">
                                                <tr>
                                                    <th>Representant</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>{{nomRepresentant}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <h6 class="title">Informations marchandises</h6>
                                            <table class="table">
                                                <thead class="text-danger">
                                                <tr>
                                                    <th>libelle</th>
                                                    <th>Quantite</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let marchClient of marchandisesClient">
                                                    <td>{{marchClient.libelle}}</td>
                                                    <td>{{marchClient.quantite}}
                                                        <small>Tonnes</small>
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                            <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </modal-content>
                        <modal-footer>
                            <div class="col-md-5  ">
                                <div class="form-group form-black label-floating is-empty pull-left">
                                    <button class="btn btn-danger" (click)="addcommande.close()">Annuler</button>
                                </div>
                                <div class="form-group form-black label-floating is-empty pull-rigth">
                                    <button type="submit" (click)="ajouterCommande()" class="btn btn-success">Valider
                                    </button>
                                </div>

                            </div>
                            <!--<div class="col-md-6 ">
                                <div class="form-group form-black label-floating is-empty pull-rigth">
                                    <button type="submit" class="btn btn-success" (click)="MarchandisesModal.open()">Suivant
                                    </button>
                                </div>
                            </div>-->

                        </modal-footer>
                    </modal>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">swap_vertical_circle</i>
                    </div>
                    <div class="card-content">
                        <h4 class="category">Nombre de Commandes</h4>
                        <h3 class="title">50</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--  <i class="material-icons text-danger">warning</i> --><a href="#pablo">Voir plus...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">directions boat</i>
                    </div>
                    <div class="card-content">
                        <h4 class="category">Ordres de Livraison recu</h4>
                        <h3 class="title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">local_offer</i>--><a href="#pablo">Voir plus...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!--<div style="margin-left:75%"> <h3>Nom Trading</h3> </div>-->


            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h3 class="title">Mes Commandes</h3>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <tr>
                                <th>Representant</th>
                                <th>Marchandises</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let commande of commandes">
                                <td>{{commande.nomRepresentant}}</td>
                                <td>
                                    <button class="btn btn-success btn-icon btn-icon-right"
                                            (click)="marchandises.open()">
                                        Details
                                    </button>
                                    <modal #marchandises

                                           modalClass="modal-lg"
                                           [hideCloseButton]="false"
                                           [closeOnEscape]="true"
                                           [closeOnOutsideClick]="true"
                                           (onOpen)="actionOnOpen()"
                                           (onClose)="actionOnClose()"
                                           (onSubmit)="actionOnSubmit()">
                                        <modal-header>
                                            <h3>Details Marchandises</h3>
                                        </modal-header>
                                        <modal-content style="background-color: black">
                                            <div class="card">
                                                <div class="card-header" data-background-color="green">
                                                    <h4 class="title">Marchandises</h4>
                                                </div>
                                                <div class="card-content">
                                                    <table class="table">
                                                        <thead class="text-danger">
                                                        <tr>
                                                            <th>libelle</th>
                                                            <th>Quantite</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let march of commande.marchandisesClient">
                                                            <td>{{march.libelle}}</td>
                                                            <td>{{march.quantite}}
                                                                <small>Tonnes</small>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="clearfix"></div>

                                                </div>
                                            </div>
                                        </modal-content>
                                        <modal-footer>
                                            <button class="btn btn-danger" (click)="marchandises.close()">Fermer
                                            </button>

                                        </modal-footer>
                                    </modal>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-icon btn-icon-right"
                                            type="submit">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
