<div class="col-md-6 col-md-offset-2" style="padding-top: 5%;padding-left: 8%">
    <div class="panel panel-primary" style="background-image: url('../assets/img/stock-trading.jpg')">
        <div class="panel-body">
            <div class="img logo">
                <div class="logo-img img-rounded col-md-2">
                    <img src=""/>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <h1>Trading</h1>
                <form name="form">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" required/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" required/>
                    </div>
                    <div class="form-group">
                        <button (click)="login()" [disabled]="loading" class="btn btn-facebook">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
