<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">swap_vertical_circle</i>
                        </div>
                        <div class="card-content">
                            <h4 class="category">Nombre de Tradings</h4>
                            <h3 class="title">50</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <!--  <i class="material-icons text-danger">warning</i> --><a href="#pablo">Voir plus...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <div class="card-content">
                            <h4 class="category">Nombre de Représentants</h4>
                            <h3 class="title">10</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <!--  <i class="material-icons">date_range</i>--><a href="#pablo">Voir plus...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">directions boat</i>
                        </div>
                        <div class="card-content">
                            <h4 class="category">Nombre de Transporteurs</h4>
                            <h3 class="title">75</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                               <!-- <i class="material-icons">local_offer</i>--><a href="#pablo">Voir plus...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="orange">
                            <h3 class="title">Stock</h3>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Libellé</th>
                                        <th>Stock initial</th>
                                        <th>Stock courant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Riz</td>
                                        <td>100 <small>Tonnes</small></td>
                                        <td>40 <small>Tonnes</small></td>
                                    </tr>
                                    <tr>
                                        <td>Sucre</td>
                                        <td>30 <small>Tonnes</small></td>
                                        <td>2 <small>Tonnes</small></td>
                                    </tr>
                                    <tr>
                                        <td>Oignons</td>
                                        <td>80 <small>Tonnes</small></td>
                                        <td>30 <small>Tonnes</small></td>
                                    </tr>
                                    <tr>
                                        <td>Mais</td>
                                        <td>60 <small>Tonnes</small></td>
                                        <td>10 <small>Tonnes</small></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="blue">
                            <h3 class="title">Facture Trading</h3>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Dépenses</th>
                                        <th>Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dédouanement</td>
                                        <td>Dakota Rice</td>
                                    </tr>
                                    <tr>
                                        <td>Entreposage</td>
                                        <td>Minerva Hooper</td>
                                    </tr>
                                    <tr>
                                        <td>Carburant</td>
                                        <td>Sage Rodriguez</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Philip Chaney</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>
